.card {
  @apply p-4 min-h-48 overflow-hidden;

  &.collapsed {
    @apply h-48 max-h-64;
  }
}

.order {
  @apply text-base font-semibold;
}

.cardBody {
  @apply flex flex-col md:flex-row md:justify-between md:items-center overflow-y-hidden;
}

.term {
  @apply text-sm sm:text-base md:text-lg font-semibold h-full basis-2/5 lg:basis-2/5 overflow-y-auto break-words text-justify;
}

.divider {
  @apply w-[200px] h-[1px] my-2 md:my-0 md:mx-3 md:w-[1px] bg-neutral-400 md:min-h-32;
}

.definition {
  @apply text-sm sm:text-base md:text-lg font-medium h-full basis-3/5 lg:basis-4/5  whitespace-pre-wrap break-words text-justify pr-2;

  &.collapsed {
    @apply overflow-y-auto;
  }
}

.cta {
  @apply flex justify-end items-center gap-2;
}

.toggleButton {
  @apply text-lg ml-2;
}

.editable {
  @apply cursor-text bg-neutral-white p-2 font-normal text-sm md:text-base rounded-lg outline-none text-left;
}

.buttonWrapper {
  @apply absolute top-0 left-0 right-0 -translate-y-3/4 flex z-20 items-center justify-center gap-2;

  .addButton {
    @apply transition-all lg:opacity-0 lg:invisible;
  }

  &:hover .addButton {
    @apply opacity-100 visible;
  }
}
